{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base/style.css' %}">
    {%block style%} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <img src="{% static 'img/gdslogo.png' %}" alt="Logo" class="nav-img">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">BLOG</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gds">GDS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/consultoria">CONSULTORIA</a></li>
                </ul>
                {% if showSearch %}
                <form id="searchForm" class="form-inline">
                    <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                    <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="button">
                        <i class="fas fa-search"></i>
                    </button>                      
                </form>                
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Contato</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-phone"></i> Telefone: +55 84 9613-2287</li>
                    </ul>
                </div>
                <div class="col-md-6 text-md-right">
                    <p class="text-white">Todos os direitos reservados &copy; 2024 GDS</p>
                </div>
            </div>
        </div>
    </footer>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
