{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="section">
        <h2>Consultoria Pessoal do GDS</h2>
        <p>Está buscando orientação financeira personalizada e eficaz? A consultoria pessoal do GDS pode ajudar você a alcançar seus objetivos financeiros de forma rápida e segura. Entre em contato conosco agora mesmo clicando no botão abaixo!</p>
        <a href="https://wa.me/558496132287?text=Ol%C3%A1%20vim%20pelo%20site%2C%20gostaria%20da%20consultoria" class="btn btn-success">Entrar em Contato pelo WhatsApp</a>
    </div>
</div>
{% endblock %}
