{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="section {% cycle 'section-white' 'section-gray' %}">
        <h2>GDS: Desvendando o Caminho para o Sucesso Financeiro</h2>
        <h5>Conheça GDS</h5>
        <p>Desde 2021, GDS tem sido uma referência confiável para orientação financeira, compartilhando sua vasta experiência e conhecimento adquiridos ao longo de três anos de dedicação às finanças pessoais. Seu compromisso em fornecer dicas práticas e acessíveis tem ajudado inúmeras pessoas a conquistarem estabilidade financeira e liberdade econômica.</p>

        <h5>Formação e Expertise</h5>
        <p>Graduado em Licenciatura de Letras, com especialização em Português e Inglês, GDS combina sua paixão pela comunicação com sólidos conhecimentos em finanças pessoais. Além disso, suas noções em mercado digital adicionam uma camada extra de compreensão sobre as nuances financeiras na era digital, permitindo que ele ofereça orientações relevantes e atualizadas.</p>
    </div>
</div>
{% endblock %}
